In [3]:
#Fonction Min
def min(x):
    mini = x[0] #On considere le premiere element de la liste comme etant le minimum
    for i in x[0:]: #Pour chaque i dans la liste 
        if i < mini:
            mini = i  #Alors on redefinit le minimum
    return mini

In [4]:
#Fonction Max
def max(x):
    maxi = x[0] #On considere le premiere element de la liste comme etant le maximum
    for i in x[0:]: #Pour chaque i dans la liste 
        if i > maxi:
            maxi = i  #Alors on redefinit le maximum
    return maxi

In [6]:
#Fonction 25%
def vingtcinq(x):
    mini= min(x)
    maxi= max(x)
    vingtcinq = mini + ( maxi - mini )/4
    return vingtcinq

In [13]:
#Fonction 50%
def cinquante(x):
    mini= min(x)
    maxi= max(x)
    cinquante = ( maxi + mini )/2
    return cinquante

In [19]:
#Fonction 75%
def soixantequinze(x):
    mini= min(x)
    maxi= max(x)
    soixantequinze = mini + 3*( maxi - mini )/4
    return soixantequinze

In [40]:
#Fonction Mean
def mean(x):
    s = 0
    for i in x:
       s += i
       meani = s/len(x)
    return meani

In [48]:
data1 = [4,6,8,10]
#min(data1)
#max(data1)
#vingtcinq(data1)
#cinquante(data1)
#soixantequinze(data1)
#mean(data1)
#std(data1)